.jumbotron {
  background-image: url(./desert.jpg);
  color: white;
  height: 300px;
}

hr {
  border-top: 1px solid white;
}
.message-div,
.score-div {
  font-size: 18px;
}

.score-div {
  margin-top: 10px;
}
